.container{
  height: 100vh;
  background-color: #383b36;

}
.opps-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.opps{
  width: 20%;
  height: 40%;
}
h2{
  text-align: center;
  margin: 0;
  font-weight: bold;
}
